<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Analytics.Model.NoReferences" version="8.1.160519" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="8.1.160519" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.EDS.Core.NoReferences" version="3.3.160527" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.EmailCampaign.NoReferences" version="3.3.160527" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.1.160519" targetFramework="net461" developmentDependency="true" />
</packages>